<table>
  <tr>
<% compare_list.each do |thing| %>
  <td>
    <a href="javascript: void(0);" class='select' data-id="<%= thing['id'] %>"><img src="<%= thing['avatar'] %>" /></a>

    
    
      <%#= thing['desc'] %>  <%#= thing['name'] %>
      <p>
       weibo_count: <%= thing['weibo_count'] %> <br />
       fans_count: <%= thing['fans_count'] %>
     </p>
    </a>

    <input type="hidden" name="things[]" value="<%= thing['id'] %>" />
    
  </td>
<% end %>
  </tr>
</table>